<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="css/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Tinder</title>
    <link href="../css/demo.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="side">
        <div class="header">
          <div class="avatar">
            <img
              src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/122067366_1572039919847053_4237969387623082442_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kTqpDXUNGkcAX8d8AUO&_nc_ht=scontent.fhan2-1.fna&oh=e6cda1187d8b32a7f5dfd620b517f51a&oe=607C4B06"
             alt=""/>
          </div>
          <div class="title">
            <a href="./profile" style="text-decoration: none; color: white"
              >My Profile</a
            >
          </div>
        </div>
        <div class="menu">
          <ul>
            <li>Matches</li>
            <li class="active">Messenger</li>
          </ul>
        </div>
        <div class="messages">
          <div class="avatar">
            <img
              alt=""
              src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-9/135866133_2952962681653835_7789394682012554323_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=a4a2d7&_nc_ohc=uTsXsCxc25cAX_PR-9d&_nc_ht=scontent.fhan2-3.fna&oh=c7c2307adcbcc729d728170807ed65e4&oe=607CCABB"
            />
          </div>
          <div class="message">
            <div class="user">Trang Mun</div>
            <div class="text">New Match! Say Hello!!!</div>
          </div>
        </div>
        <div class="messages">
          <div class="avatar">
            <img
              alt=""
              src="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/159063126_2955608214680305_2071510564643251388_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=7E6gVFDDbgQAX98SHCi&_nc_ht=scontent.fhan2-5.fna&oh=399ff2d7a26216100b8b53afa5feefbe&oe=607D15EB"
            />
          </div>
          <div class="message">
            <div class="user">Linh Rùa</div>
            <div class="text">New Match! Say Hello!!!</div>
          </div>
        </div>
        <div class="messages">
          <div class="avatar">
            <img
              alt=""
              src="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/157185624_2779245272336153_1394436679479547711_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=UH6QPEc3en8AX_uoupP&_nc_ht=scontent.fhan2-5.fna&oh=2802e94f144f4d01e3e65a6cf62c1a50&oe=607D6625"
            />
          </div>
          <div class="message">
            <div class="user">Phạm Quyên</div>
            <div class="text">New Match! Say Hello!!!</div>
          </div>
        </div>
        <div class="messages">
          <div class="avatar">
            <img
              alt=""
              src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/101703924_163345571826065_8372948725332443136_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=LffGUWBbiL8AX_A3Bte&_nc_ht=scontent.fhan2-2.fna&oh=9f014dcb2336311da743a5a73fafaabe&oe=607EAC21"
            />
          </div>
          <div class="message">
            <div class="user">Huyền Linh</div>
            <div class="text">New Match! Say Hello!!!</div>
          </div>
        </div>
        <div class="messages">
          <div class="avatar">
            <img
              alt=""
              src="https://scontent.fhan2-2.fna.fbcdn.net/v/l/t1.0-9/161684726_2445602285586574_5305561213532233964_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=tbFPKO2xDGIAX80Gxrr&_nc_ht=scontent.fhan2-2.fna&oh=bc2df6f78789474e820f50cdb2af1acd&oe=607BD0A3"
            />
          </div>
          <div class="message">
            <div class="user">Thắm</div>
            <div class="text">New Match! Say Hello!!!</div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card">
          <div class="user">
            <div class="slideshow-container">
              <div class="mySlides fade">
                <alt
                  src="./images/119056124_664076564196705_2491750022077258243_n.jpg"
                  style="width: 380px; height: 500px"></alt>
                <div class="profile">
                  <div class="name">Thu Trang <span>25</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>3 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/119062461_319967885947624_4384949273977554488_n.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Thanh Thanh <span>20</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>5 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/119240347_117880030051091_5858044605861170504_o.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Nhật Linh <span>20</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>5 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/119459826_324214838674011_7062504970180867721_n.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Hoài Phương <span>19</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>5 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/119487953_806856673387536_4999568659159792643_n.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Linh Nhi <span>25</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>5 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/123695656_191498992488294_6499959292559630111_n.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Đặng Thị Thảo <span>23</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>5 kilometers away</span>
                  </div>
                </div>
              </div>

              <div class="mySlides fade">
                <img
                        alt=""
                  src="./images/119224379_119815582984660_4115552553381620253_n.jpg"
                  style="width: 380px; height: 500px"
                />
                <div class="profile">
                  <div class="name">Thu Hiền <span>18</span></div>
                  <div class="local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>2 kilometers away</span>
                  </div>
                </div>
              </div>

              <a class="prev" onclick="plusSlides(-1)">❮</a>
              <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="no" id="no">
            <i class="fas fa-times" onclick="plusSlides(-1)"></i>
          </div>
          <div class="star" id="star">
            <i class="fas fa-star fa"></i>
          </div>
          <div class="heart" id="heart">
            <i class="fas fa-heart" onclick="plusSlides(1)"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/demo.js"></script>
  </body>
</html>
