<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <title>Tinder</title>
    <link rel="stylesheet" href="../css/demo.css" />
</head>

<body>
    <div class="container">
        <div class="side" style="background-color: rgb(235, 230, 230);">
            <div class="header">
                <a href="./home"><i class="fas fa-arrow-left"
                        style="font-size: 20px; color: white; text-decoration: none; margin-right: 20px;"></i></a>
                <div class="avatar">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/122067366_1572039919847053_4237969387623082442_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kTqpDXUNGkcAX8d8AUO&_nc_ht=scontent.fhan2-1.fna&oh=e6cda1187d8b32a7f5dfd620b517f51a&oe=607C4B06"
                        alt="" />
                </div>
                <div class="title"><a href="./profile" style="text-decoration: none; color: white;">My Profile</a></div>
            </div>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Họ và tên:</div>
                    <div class="text">
                        Vũ Hoàng Phong
                    </div>
                </div>
            </div>
            <hr>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Ngày sinh:</div>
                    <div class="text">
                        10-08-1995
                    </div>
                </div>
            </div>
            <hr>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Số điện thoại:</div>
                    <div class="text">
                        +84965363228
                    </div>
                </div>
            </div>
            <hr>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Giới tính:</div>
                    <div class="text">
                        Nam
                    </div>
                </div>
            </div>
            <hr>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Sở thích:</div>
                    <div class="text">
                        Ẩm thực
                    </div>
                </div>
            </div>
            <hr>
            <div class="messages">
                <div class="avatar">
                </div>
                <div class="message">
                    <div class="user">Giới thiệu:</div>
                    <div class="text">
                        Thích ăn và chơi
                    </div>
                </div>
            </div>
            <hr>

            <input id="btn-update" type="button" value="Update" />
            <a href="./">
                <input id="btn-logout" type="button" value="Logout" />
            </a>


        </div>
        <div class="content">
            <div class="card">
                <div class="user" style="height: 560px; margin-top: 90px;">
                    <div class="collapse" id="update-profile" aria-expanded="false"
                        style="height: 560px; background-color: #ebe6e6;">
                        <div>
                            <div class="user-profile">
                                <br>
                                <div style="font-size: 18px;">
                                    Họ tên:<br>
                                </div>
                                <div>
                                    <label>
                                        <input type="text" value="Vũ Hoàng Phong" disabled>
                                    </label>
                                </div>
                                <br>
                                <div style="font-size: 18px;">
                                    Ngày sinh:<br>
                                </div>
                                <div>
                                    <label>
                                        <input type="text" value="10-08-1995" disabled>
                                    </label>
                                </div>
                                <br>
                                <div style="font-size: 18px;">
                                    Số điện thoại:<br>
                                </div>
                                <div>
                                    <label>
                                        <input type="text" value="0965363228">
                                    </label>
                                </div>
                                <br>
                                <div style="font-size: 18px;">
                                    Sở thích:<br>
                                </div>
                                <div>
                                    <label>
                                        <input type="text" value="Ẩm thực">
                                    </label>
                                </div>
                                <br>
                                <div style="font-size: 18px;">
                                    Giới thiệu:<br>
                                </div>
                                <label>
                                    <textarea rows="6" cols="35">Nhập nội dung ...</textarea>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>